<b>Sacred Heart Parish</b><br/>
1307 14th St. SW
Calgary, AB<br/>

<p>
The ceremony begins promptly at 2:30 pm. Please arrive 15 minutes early. Thanks!
</p>

<p>
<iframe class="large" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.650798747497!2d-114.095421!3d51.04107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd26d093d2b67a36f!2sSacred+Heart+Church!5e0!3m2!1sen!2sca!4v1423984421477" width="600" height="450" frameborder="0" style="border:0"></iframe>

<iframe class="small" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.650798747497!2d-114.095421!3d51.04107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd26d093d2b67a36f!2sSacred+Heart+Church!5e0!3m2!1sen!2sca!4v1423984421477" width="400" height="300" frameborder="0" style="border:0"></iframe>
</p>
