---
title: Shaun and Betty's Wedding Website
---

<h1>Shaun and Betty's Wedding</h1>

Sections:
<ul>
  <li><%= link_to 'Our Story', '/our-story.html' %></li>
  <li>Ceremony</li>
  <li>Reception</li>
  <li>Registry</li>
</ul>
