---
title: Shaun and Betty's Wedding Website
---

<section class="welcome">
  <p>
    Welcome to our wedding website! It has all the important details.
  </p>

  <p>Looking forward to seeing you all soon!
  </p>
</section>
<img class="filmstrip" src="img/bluejays-animated.gif"/>
