<p>She is south american, with a passion for life and unbounded ambition.</p>

<p>He is quiet and level-headed, complacent with life's simple pleasures.</p>

<p>When they met at work, it was instant awkwardness. She asked
him to lunch, and he politely declined. Numerous times. But she kept asking.
Eventually he gave in and very quickly an unlikely
friendship developed.</p>

<p>One day he realized their friendship could be more, so he asked. She politely
refused. Some time passed, and he asked again. Still she refused. When he asked
even again, and she declined, he just said "OK". She asked, "What - that's it?". And he replied,
"It's okay, I know this is going to happen".</p>

<p>Some might call it intuition, others delusion, but a just a short year later
they were officially dating.</p>

<p>Perhaps not the most conventional of love stories, but the result is undeniable.
They are opposites that make sense together. And both have never been happier.</p>
