<b>The Fairmont Palliser Hotel</b><br/>
133 9th Avenue Southwest
Calgary, AB<br/>
6:00 Dinner/Dance<br/>

<p>
<iframe class="large" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.4689102293282!2d-114.06513299999999!3d51.04442900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49555d612c5cb685!2sThe+Fairmont+Palliser+Hotel!5e0!3m2!1sen!2sca!4v1423985090493" width="600" height="450" frameborder="0" style="border:0"></iframe>
</p>

<iframe class="small" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.4689102293282!2d-114.06513299999999!3d51.04442900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49555d612c5cb685!2sThe+Fairmont+Palliser+Hotel!5e0!3m2!1sen!2sca!4v1423985090493" width="400" height="300" frameborder="0" style="border:0"></iframe>
