Betty and Shaun's list of things to do in and around Calgary:
<ol>
  <li>Go to Banff</li>
  <li>Dinner at Model Milk</li>
  <li>Coffee at Cafe Beano</li>
  <li><a href="http://www.nmc.ca/">National Music Center</a> (cool synth museum)</li>
  <li>Visit St. Stephen's Jr. High and see the statue of Shaun playing basketball</li>
</ol>
<p>
  If you need accomodations in Calgary at the <a href="http://www.fairmont.com/palliser-calgary/">Fairmont Palliser Hotel</a>,
  here's the code you can use for a special rate.<br>
  Reservation ID *YANE0815
</p>
