Betty and Shaun's list of things to do in and around Calgary:

<ol>
  <li>Go to Banff</li>
  <li>Dinner at Model Milk</li>
  <li>Coffee at Cafe Beano</li>
  <li><a href="http://www.nmc.ca/">National Music Center</a> (cool synth museum)</li>
  <li>Visit St. Stephen's Jr. High and see the statue of Shaun playing basketball</li>
</ul>
